.board-container {
  max-height: 100vh;
  background-color: #6ab04c;
  margin-top: 5%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .board-container {
    margin-top: 20%;
  }
}
