.board {
  background-color: #6ab04c;
  transition: all 0.3s;
}

.board:hover {
  cursor: pointer;
  background-color: #2ecc72;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.board:active {
  cursor: pointer;
  background-color: #6ab04c;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  transform: scale(1);
}
